.transparent {
    background-color: transparent;
}

GtdTaskRow {
    border-bottom: 1px solid alpha(@borders, 0.4);
}

GtdTaskListItem.thumbnail {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 9px;
}

GtdTaskListItem,
GtdTaskListView GtdTaskRow {
    color: #000003;
}

GtdTaskListView GtdTaskRow:hover {
    background-color: alpha(#ededed, 0.4);
}

GtdTaskListItem.dark,
GtdTaskListView.dark GtdTaskRow {
    color: #eeeeec;
}

GtdTaskListView.dark GtdTaskRow:hover {
    background-color: alpha(#393f3f, 0.4);
}

GtdArrowFrame {
    border-bottom-width: 0px;
    border-top-width: 0px;
    background-color: @theme_bg_color;
    border-color: @borders;
}

GtdArrowFrame:dir(ltr) {
    border-right-width: 0px;
}

GtdArrowFrame:dir(rtl) {
    border-left-width: 0px;
}

GtkLabel.main-title {
    font-size: 28px;
}

/* priority icons */
GtdTaskRow.priority-low {
    background-color: alpha(#3465a4, 0.2);
}

GtdTaskRow.priority-low:hover {
    background-color: alpha(#3465a4, 0.4);
}


GtdTaskRow.priority-medium {
    background-color: alpha(#f57900, 0.2);
}

GtdTaskRow.priority-medium:hover {
    background-color: alpha(#f57900, 0.4);
}


GtdTaskRow.priority-hight {
    background-color: alpha(#cc0000, 0.2);
}

GtdTaskRow.priority-hight:hover {
    background-color: alpha(#cc0000, 0.4);
}
